{
    admin off
}

{$APP_HOST} {
    encode zstd gzip

    @sensitive_access_log {
        path /accounts/external/invite/* /accounts/external/callback/* /accounts/reset/*
    }
    log_skip @sensitive_access_log

    reverse_proxy web:8000 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }

    log {
        output stdout
        format console
    }
}
